
/* structure */   
.OccuResults_SubCatHeaders{
	background-color: #DDDDDD;
	color: #10181C;
	font-weight: Bold;
	font-size: 10.7pt;
}


button.MyASVABaccordion {
	background-color: #60ACB2;
	color: #000000;
	padding: 8px;
	width: 100%;
	text-align: left;
	font-size: 10.7pt;
	font-weight: Bold;
	border-bottom-width: thin;
	border-color: E2E2E2;
	border-style: grove;
}

button.MyASVABaccordion.active, button.MyASVABaccordion:hover {
    background-color: #39266E;  color: #FFFFFF; 
}

button.accordion {
	background-color: #DDDDDD;
	color: #000000;
	padding: 8px;
	width: 100%;
	text-align: left;
	font-size: 10.7pt;
	font-weight: Bold;
	border-bottom-width: thin;
	border-color: E2E2E2;
	border-style: grove;
}

button.accordion.active, button.accordion:hover {
    background-color: #39266E;  color: #FFFFFF; 
}

div.panel {
    padding: 0 18px;font-size: 10pt;
    display: none;
    background-color: white;
}

div.panel.show {
    display: block
}


/* this is the style for Occupation Title  */ 
.OccuTitle{
	color: #263942;
	font-weight: 600; font-size: 16pt; letter-spacing: -.5px;
}

.OccuResultsMainTxt{
	color: #000000;
	font-weight: 200;
	font-size: 10.5pt;
	letter-spacing: -.2px;
}


/* this accentLink style will be used for the small links to "add to favorites" and go back to results  */ 
.accentLink {
	background-color: #FFFFFF; font-weight: bold;
	color: #39266E; text-decoration: none;
	padding: 2px;
	text-align: center;
	font-size: 8pt;

}

.accentLink.active, .accentLink:hover {
    background-color: #39266E;  color: #FFFFFF; 
}





.tutorialsLink {
	background-color: #39266E; font-weight: bold;
	color: #FFFFFF; text-decoration: none;
	padding: 2px;
	text-align: center;
	font-size: 8pt; vertical-align: bottom;

}
.tutorialsLink.active, .tutorialsLink:hover {
    background-color: #FFFFFF;  color: #39266E; vertical-align: bottom;
}