@charset "UTF-8";
.education-opportunity {
  padding-top: 20px;
  overflow: hidden;
}
.education-opportunity .section-overview {
  padding-top: 20px;
}
.education-opportunity .section-overview .section-title {
  margin-bottom: 15px;
}
.education-opportunity .section-overview h3 {
  padding: 8px 10px !important;
}
.education-opportunity .section-overview ul {
  margin-left: 15px;
}
.education-opportunity .section-overview ul li:before {
  left: -15px !important;
}
.education-opportunity .section-overview a {
  color: #298d91;
}
.education-opportunity .education-opportunity-sidebar {
  padding-top: 5px;
}
@media (max-width: 767px) {
  .education-opportunity .education-opportunity-sidebar {
    max-width: 450px;
    margin: 0 auto 20px;
  }
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-top-img {
  text-align: center;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper {
  border: 1px solid #33afb4;
  padding-bottom: 6px;
  margin-top: -17px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-title {
  font-size: 16px;
  line-height: 20px;
  background-color: #33afb4;
  color: #fff;
  text-transform: none;
  padding: 23px 40px 12px 19px;
  margin-bottom: 25px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content {
  padding: 0 20px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul {
  margin-left: 0;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li {
  font-size: 16px !important;
  margin-bottom: 12px !important;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li:before {
  display: none;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  display: block;
  position: relative;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a:hover {
  opacity: 0.8;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a:hover:after {
  opacity: 0.8;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a:after {
  content: ">";
  content: "";
  font-family: fontawesome;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=Continuing_Education_Opportunity.css.map */
