.text-teal {
  color: #2DA2A7;
}

.text-brown {
  color: #8A2F35;
}

.text-blue {
  color: #2F2C69;
}

.text-gray {
  color: #4A4A4A;
}

.text-light-gray {
  color: #D4D4D4;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-10 {
  margin-left: 10px;
}

.occufind #content-wrap {
  padding-top: 0;
  overflow: hidden;
}

.occufind #content-wrap > .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 639px) {
  .occufind #content-wrap > .row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 640px) {
  .mobile-show {
    display: none;
  }
}
@media (max-width: 639px) {
  .mobile-hide {
    display: none;
  }
}
.sidebar-nav {
  display: inline-block;
  background-color: #EEEEEE;
  text-align: center;
  min-width: 85px;
  padding-left: 15px;
  z-index: 1;
}
@media (max-width: 639px) {
  .sidebar-nav {
    width: 100%;
    padding: 0;
    z-index: 3;
  }
}
.sidebar-nav.scroll-to-fixed-fixed {
  height: 100%;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 20px 17px 0;
    background-color: #eeeeee;
  }
}
@media (max-width: 359px) {
  .sidebar-nav .sidebar-nav-inner {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.sidebar-nav .sidebar-nav-items {
  display: block;
  margin: 0 0 20px auto;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: baseline;
    align-items: baseline;
    width: 100%;
    margin: 0 auto 0 0;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item {
  margin-bottom: 13px !important;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item {
    margin-bottom: 0 !important;
  }
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item:nth-child(2) {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item:before {
  display: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
  position: relative;
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 23px !important;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
    order: 4;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 0 !important;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #B8B8B8;
  left: 0;
  bottom: 0;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting:after {
    display: none;
  }
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
    min-height: inherit;
    border: none;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 15px 4px 10px;
  }
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a:hover {
    background-color: transparent;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a:after {
  display: none;
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a img {
    margin-top: 0;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
  font-size: 14px;
  line-height: normal;
  max-width: 100px;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #312A88;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting span:not(.message_count) {
  color: #000;
  margin-bottom: 0;
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting span:not(.message_count) {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting .message_count {
  background-image: url("../images/Dashboard/message_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-left: 6px;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting .message_count {
    position: absolute;
    top: 5px;
    right: 17px;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  color: #000;
  border: 3px solid #FFFFFF;
  border-right: 0;
  min-height: 80px;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item a {
    border: none;
    min-height: inherit;
    padding: 0 15px 10px;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  background-image: url("../images/Dashboard/Triangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item a:after {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a.active {
  background-color: #fff;
  cursor: context-menu;
  pointer-events: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:hover {
  background-color: #fff;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:focus {
  text-decoration: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a img {
  margin-top: 12px;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item > img {
  margin-right: auto;
  display: block;
  margin-left: 5px;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
  padding: 0 5px;
}
.sidebar-nav.sidebar-nav-expanded {
  min-width: 197px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-inner {
    padding: 0;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items {
  display: block;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
  min-height: inherit;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item {
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: 1px solid #979797;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
  padding: 13px 0 10px;
  margin-bottom: 13px !important;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: inherit;
    background-color: #fff;
    padding: 14px 17px 12px;
    margin-bottom: 0 !important;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
  padding: 0;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
    width: inherit;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
  margin-left: 10px;
  margin-right: auto;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
    order: 2;
    max-width: inherit;
    padding-right: 20px;
  }
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.setting_img {
    order: 3;
  }
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.message_count_link {
    order: 1;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a span {
  position: initial;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a span {
    line-height: normal;
    margin-left: 0;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
  padding: 0 13px;
  margin-bottom: 23px !important;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
    display: none;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item span {
  font-size: 14px;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a {
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 20px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 20px 0;
    width: 100%;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a:after {
  display: none;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a.setting_img {
  display: block;
  max-width: 20px;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow {
  position: relative;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow {
    margin-bottom: 6px;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  background-image: url("../images/Dashboard/Triangle_for_expanded.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow:after {
    width: 14px;
    height: 27px;
    right: -30px;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a span {
  font-size: 16px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a span {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    max-width: inherit;
    color: #616161;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a img {
  margin-top: 0;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item span {
  max-width: 149px;
  width: 100%;
}

.summary-results-page {
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  .summary-results-page {
    padding-left: 30px;
  }
}
@media (max-width: 639px) {
  .summary-results-page {
    max-width: 100%;
    padding-left: 15px;
  }
}
.summary-results-page:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10000px;
  right: 100%;
  top: 0;
  background-color: #eee;
}

.my-asvab-score {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #EEEEEE;
  z-index: 2;
  padding: 14px 18px 8px 35px;
  margin-left: -47px;
}
@media (max-width: 991px) {
  .my-asvab-score {
    padding-left: 30px;
    margin-left: -27px;
  }
}
@media (max-width: 639px) {
  .my-asvab-score {
    padding-right: 0;
  }
}
.my-asvab-score:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10000px;
  left: 100%;
  top: 0;
  background-color: #eee;
}
.my-asvab-score h5 {
  font-size: 14px;
  color: #4a4a4a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0;
}
.my-asvab-score h5 a {
  margin-left: 10px;
  margin-right: 0;
}
.my-asvab-score h5 a.explain {
  background: url("../images/Dashboard/question_rounded.svg");
  width: 17px;
  height: 17px;
  flex: 1 0 auto;
}
.my-asvab-score .my-strengths-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: calc(100% - 350px);
  width: 100%;
}
@media (max-width: 991px) {
  .my-asvab-score .my-strengths-bar {
    max-width: calc(100% - 300px);
  }
}
@media (max-width: 767px) {
  .my-asvab-score .my-strengths-bar {
    max-width: 100%;
  }
}
.my-asvab-score .my-strengths-bar .my-results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #4A4A4A;
}
.my-asvab-score .my-strengths-bar .my-results .skill-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 639px) {
  .my-asvab-score .my-strengths-bar .my-results .skill-images {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: auto;
  }
}
.my-asvab-score .my-strengths-bar .my-results .skill-images img {
  margin-right: 5px;
}
@media (max-width: 639px) {
  .my-asvab-score .my-strengths-bar .my-results .skill-images img {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
.my-asvab-score .my-interest-bar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 325px;
  width: 100%;
  padding-left: 30px;
}
@media (max-width: 991px) {
  .my-asvab-score .my-interest-bar {
    max-width: 290px;
  }
}
@media (max-width: 767px) {
  .my-asvab-score .my-interest-bar {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}
.my-asvab-score .my-interest-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #979797;
}
@media (max-width: 767px) {
  .my-asvab-score .my-interest-bar:before {
    display: none;
  }
}
.my-asvab-score .my-interest-bar .my-interest-code {
  position: relative;
  margin: 0 15px;
  z-index: 1;
  color: #fff;
}
.my-asvab-score .my-interest-bar .my-interest-code:hover {
  text-decoration: none;
}
.my-asvab-score .my-interest-bar .my-interest-code:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: -1;
  margin-top: -2px;
}
.my-asvab-score .my-interest-bar .my-interest-code.code-c:before {
  border-bottom-color: #54873d;
}
.my-asvab-score .my-interest-bar .my-interest-code.code-r:before {
  border-bottom-color: #027ECF;
}
.my-asvab-score .my-interest-bar .my-interest-code.code-i:before {
  border-bottom-color: #810707;
}
.my-asvab-score.score-with-afqt .my-results {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.my-asvab-score.score-with-afqt .score-with-afqt-data {
  margin: 0 10px;
}
.my-asvab-score.score-with-afqt .score-with-afqt-data span {
  margin-right: 5px;
}
@media (max-width: 991px) {
  .my-asvab-score.score-with-afqt .score-with-afqt-data .my-strengths-bar {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .my-asvab-score.score-with-afqt .score-with-afqt-data .my-interest-bar {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .my-asvab-score.score-with-afqt .score-with-afqt-data .my-interest-bar:before {
    display: none;
  }
}
.my-asvab-score.score-with-afqt .switch-icon {
  min-width: 23px;
}

.my-asvab-score-no-fyi {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 2;
  border-bottom: 1px solid #CDCDCD;
  padding: 14px 0;
  margin-bottom: 20px;
}
.my-asvab-score-no-fyi h5 {
  font-size: 14px;
  line-height: 19px;
  color: #4a4a4a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi h5 span br {
    display: none;
  }
}
.my-asvab-score-no-fyi h5 a {
  margin-left: 10px;
  margin-right: 0;
}
.my-asvab-score-no-fyi h5 a.explain {
  background: url("../images/Dashboard/question_rounded.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  flex: 1 0 auto;
}
.my-asvab-score-no-fyi .my-strengths-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: calc(100% - 350px);
  width: 100%;
}
@media (max-width: 991px) {
  .my-asvab-score-no-fyi .my-strengths-bar {
    max-width: calc(100% - 300px);
  }
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi .my-strengths-bar {
    max-width: 100%;
  }
}
.my-asvab-score-no-fyi .my-strengths-bar .my-results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  color: #4A4A4A;
}
.my-asvab-score-no-fyi .my-strengths-bar .my-results .skill-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 10px;
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi .my-strengths-bar .my-results .skill-images {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: auto;
  }
}
.my-asvab-score-no-fyi .my-strengths-bar .my-results .skill-images img {
  margin-bottom: 5px;
}
.my-asvab-score-no-fyi .my-interest-bar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 325px;
  width: 100%;
  padding-top: 15px;
  padding-left: 30px;
}
@media (max-width: 991px) {
  .my-asvab-score-no-fyi .my-interest-bar {
    max-width: 290px;
  }
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi .my-interest-bar {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}
.my-asvab-score-no-fyi .my-interest-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #979797;
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi .my-interest-bar:before {
    display: none;
  }
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi .my-interest-bar .my-interest-codes-inner {
    margin: 0 auto;
  }
}
.my-asvab-score-no-fyi .my-interest-bar .my-interest-code {
  position: relative;
  margin: 0 15px;
  z-index: 1;
  color: #4A4A4A;
  display: inline-block;
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi .my-interest-bar .my-interest-code {
    margin: 0 10px;
  }
}
.my-asvab-score-no-fyi .my-interest-bar .my-interest-code:hover {
  text-decoration: none;
}
.my-asvab-score-no-fyi .my-interest-bar .my-interest-code strong {
  display: block;
  text-align: center;
}
.my-asvab-score-no-fyi.score-with-afqt .score-with-afqt-data {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 15px;
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi.score-with-afqt .score-with-afqt-data {
    margin: 0 10px;
  }
}
.my-asvab-score-no-fyi.score-with-afqt .switch-icon {
  min-width: 23px;
}

.back-link {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
}

.circular-progress-bar {
  position: relative;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  pointer-events: none;
}
.circular-progress-bar.no-percentage {
  background-color: #fff;
  border-color: #D7D7D7;
  padding: 5px;
}
.circular-progress-bar.no-percentage svg {
  width: 40px;
  height: 40px;
}
.circular-progress-bar.no-percentage .arcs .outer-circle {
  fill: #fff;
}
.circular-progress-bar.no-percentage .arcs .inner-circle {
  fill: #fff;
}
.circular-progress-bar svg {
  width: 38px;
  height: 38px;
}
.circular-progress-bar .percentage_number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.circular-progress-bar .percentage_number span {
  font-size: 12px !important;
}
.circular-progress-bar .arcs .outer-circle {
  fill: #eee;
}
.circular-progress-bar .arcs .outer-arc {
  fill: #19A5AD;
}
.circular-progress-bar .arcs .inner-circle {
  fill: #eee;
}
.circular-progress-bar .arcs .inner-arc {
  fill: none;
}

.sidebar-nav-expanded .circular-progress-bar {
  border: 4px solid #fff;
  height: 58px;
  width: 58px;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar {
    border: 6px solid #fff;
    padding: 6px;
  }
}
.sidebar-nav-expanded .circular-progress-bar svg {
  width: 50px;
  height: 50px;
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage {
  border-color: #D7D7D7;
  width: auto;
  height: auto;
  padding: 4px;
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar.no-percentage svg {
    width: 84px;
    height: 84px;
  }
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar.no-percentage .inner-circle {
    display: block;
  }
}

.circles {
  display: none;
}
.circles .outer-circle {
  fill: #19A5AD;
  stroke: #19A5AD;
  stroke-width: 1;
}
.circles .inner-circle {
  fill: #eee;
  stroke: #19A5AD;
  stroke-width: 1;
}
.circles.empty-circles .outer-circle {
  fill: #fff;
  stroke: transparent;
}
.circles.empty-circles .inner-circle {
  stroke: transparent;
}

.no-percentage .percentage_number {
  display: none;
}
.no-percentage .inner-circle {
  display: none;
}
.no-percentage .inner-arc {
  display: none;
}

.complete-fyi {
  padding-top: 20px;
  margin: 0 auto;
}
.complete-fyi .complete-fyi-result-bar-wrapper {
  text-align: center;
}
@media (max-width: 991px) {
  .complete-fyi .complete-fyi-result-bar-wrapper .complete-fyi-result-bar {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .complete-fyi .complete-fyi-result-bar-wrapper .complete-fyi-result-bar ~ .complete-fyi-result-bar {
    margin-top: 20px;
  }
}
.complete-fyi h3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2px !important;
}
.complete-fyi h3 .explain {
  background: url(../images/Dashboard/question_rounded.svg);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  flex: 1 0 auto;
  float: none;
  margin-left: 5px;
}
.complete-fyi h3 .complete-fyi-test-result {
  font-weight: normal;
  text-transform: none;
  margin-left: auto;
}
.complete-fyi p {
  margin-bottom: 8px;
}
.complete-fyi .complete-fyi-result {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  min-height: 52px;
}
.complete-fyi .complete-fyi-result .complete-fyi-data {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  max-width: 33.33%;
  width: 100%;
}
.complete-fyi .complete-fyi-result .complete-fyi-data:last-child {
  max-width: 40%;
}
@media (max-width: 359px) {
  .complete-fyi .complete-fyi-result .complete-fyi-data {
    word-break: break-word;
  }
}
.complete-fyi .complete-fyi-result .complete-fyi-data img {
  margin-bottom: 5px;
}
.complete-fyi .complete-fyi-switch-icon {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #CDCDCD;
  padding: 2px 0;
  margin-top: 15px;
}
.complete-fyi .skills-interests-career {
  background-color: rgba(45, 162, 167, 0.13);
  color: #4A4A4A;
  border: 1px solid rgba(184, 184, 184, 0.13);
  text-align: center;
  padding: 26px 18px 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.complete-fyi .skills-interests-career h4 {
  font-size: 21px;
  font-weight: bold;
}
@media (max-width: 359px) {
  .complete-fyi .skills-interests-career h4 {
    font-size: 20px;
  }
}
.complete-fyi .skills-interests-career h6 {
  line-height: normal;
  margin-top: 3px;
  margin-bottom: 20px;
}
.complete-fyi .skills-interests-career p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
.complete-fyi .skills-interests-career a {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  min-width: 204px;
  padding: 8px 40px;
  margin: 0 auto;
}
@media (max-width: 359px) {
  .complete-fyi .skills-interests-career a {
    padding: 8px 20px;
  }
}
.complete-fyi .skills-interests-career .skills-interests-career-explanation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.complete-fyi .skills-interests-career .skills-interests-career-explanation img {
  width: 29px;
  height: 29px;
  margin-right: 13px;
}
.complete-fyi .add-info-card-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.complete-fyi .add-info-card-wrapper .medium-6 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.complete-fyi .add-info-card-wrapper .add-info-card {
  border: 1px solid #B8B8B8;
  min-height: 190px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 639px) {
  .complete-fyi .add-info-card-wrapper .add-info-card {
    margin-bottom: 20px;
  }
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-card-title {
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
  background-color: #EEEEEE;
  width: 100%;
  padding: 4px 10px;
  margin-bottom: 0;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-card-title .add-info-card-edit {
  float: right;
  margin-top: 1px;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-card-title .add-info-card-edit:hover {
  opacity: 0.8;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: 100%;
  padding: 14px;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-details {
  width: 100%;
  color: #4A4A4A;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-details p {
  margin-bottom: 0;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-details ul {
  font-weight: 600;
  margin-left: 12px;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-details ul li {
  margin-bottom: 0 !important;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-sign {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 70px;
  line-height: normal;
  font-weight: bold;
  width: 100%;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-sign a {
  color: #4C44AC;
}
.complete-fyi .add-info-card-wrapper .add-info-card .add-info-content .add-info-sign a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.complete-fyi .add-info-card-wrapper .add-info-card.disabled {
  background-color: rgba(177, 177, 177, 0.1);
  border: none;
  pointer-events: none;
}
.complete-fyi .add-info-card-wrapper .add-info-card.disabled .add-info-card-title {
  color: #C0C0C0;
  background-color: transparent;
}
.complete-fyi .add-info-card-wrapper .add-info-card.disabled .add-info-sign a {
  color: #D4D4D4;
}
.complete-fyi .add-info-card-wrapper .add-info-card.add-new-info {
  background-color: rgba(76, 68, 172, 0.1);
}
.complete-fyi .add-info-card-wrapper .add-info-card.add-new-info .add-info-card-title {
  background-color: transparent;
}
.complete-fyi .complete-fyi-video-tutorial-wrapper h3 {
  margin-bottom: 15px !important;
}
@media (max-width: 991px) {
  .complete-fyi .complete-fyi-video-tutorial-wrapper .medium-6.columns {
    width: 100%;
  }
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
}
@media (max-width: 991px) {
  .complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial .complete-fyi-video-content {
  max-width: 45%;
  padding-right: 5px;
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial .complete-fyi-video-content p {
  color: #000000;
  margin-bottom: 0;
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial .complete-fyi-video-content a {
  font-size: 16px;
  line-height: 22px;
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial .complete-fyi-video-wrapper {
  max-width: 168px;
  width: 100%;
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial .complete-fyi-video-wrapper .img-with-play-icon {
  position: relative;
}
.complete-fyi .complete-fyi-video-tutorial-wrapper .complete-fyi-video-tutorial .complete-fyi-video-wrapper .img-with-play-icon .video-play {
  max-width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer {
  z-index: 1;
  position: relative;
}

/*# sourceMappingURL=dashboard.css.map */
