a.buttonMoreInfo{
	background: #fff;
	border-radius: 15px;
	color: #1c0d3f;
	display: inherit;
	float: left;
	margin: 10px 15px 10px 0;
	padding: 10px;
	text-decoration: none;
	border: medium solid #a1a6a1;
}
a.buttonMoreInfo:hover{
	background:#212031;
	border: medium solid #212031;color: #fff;
}

a.Logonbutton{
	background: #66cc33;
	border-radius: 15px;
	color: #000;
	display: inherit;
	float: left;
	margin: 10px 15px 10px 0;
	padding: 10px;
	text-decoration: none;

}
a.Logonbutton:hover{
background:#212031; color: #fff;


}




a.hidedecoration{
	text-decoration: none;
	border: thin solid white;
}

