.occufind #content-wrap {
  padding-top: 0;
  overflow: hidden;
}

.occufind #content-wrap > .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 639px) {
  .occufind #content-wrap > .row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 640px) {
  .mobile-show {
    display: none;
  }
}
@media (max-width: 639px) {
  .mobile-hide {
    display: none;
  }
}
.explore-career {
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  .explore-career {
    padding-left: 30px;
  }
}
@media (max-width: 639px) {
  .explore-career {
    max-width: 100%;
    padding-left: 15px;
  }
}
.explore-career:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10000px;
  right: 100%;
  top: 0;
  background-color: #eee;
}

.sidebar-nav {
  display: inline-block;
  background-color: #EEEEEE;
  text-align: center;
  min-width: 85px;
  padding-left: 15px;
  z-index: 1;
}
@media (max-width: 639px) {
  .sidebar-nav {
    width: 100%;
    padding: 0;
    z-index: 3;
  }
}
.sidebar-nav.scroll-to-fixed-fixed {
  height: 100%;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 20px 17px 0;
    background-color: #eeeeee;
  }
}
@media (max-width: 359px) {
  .sidebar-nav .sidebar-nav-inner {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.sidebar-nav .sidebar-nav-items {
  display: block;
  margin: 0 0 20px auto;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: baseline;
    align-items: baseline;
    width: 100%;
    margin: 0 auto 0 0;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item {
  margin-bottom: 13px !important;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item {
    margin-bottom: 0 !important;
  }
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item:nth-child(2) {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item:before {
  display: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
  position: relative;
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 23px !important;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
    order: 4;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 0 !important;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #B8B8B8;
  left: 0;
  bottom: 0;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting:after {
    display: none;
  }
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
    min-height: inherit;
    border: none;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 15px 4px 10px;
  }
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a:hover {
    background-color: transparent;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a:after {
  display: none;
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a img {
    margin-top: 0;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
  font-size: 14px;
  line-height: normal;
  max-width: 100px;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #312A88;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting span:not(.message_count) {
  color: #000;
  margin-bottom: 0;
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting span:not(.message_count) {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting .message_count {
  background-image: url("../images/Dashboard/message_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-left: 6px;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting .message_count {
    position: absolute;
    top: 5px;
    right: 17px;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  color: #000;
  border: 3px solid #FFFFFF;
  border-right: 0;
  min-height: 80px;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item a {
    border: none;
    min-height: inherit;
    padding: 0 15px 10px;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  background-image: url("../images/Dashboard/Triangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item a:after {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a.active {
  background-color: #fff;
  cursor: context-menu;
  pointer-events: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:hover {
  background-color: #fff;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:focus {
  text-decoration: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a img {
  margin-top: 12px;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item > img {
  margin-right: auto;
  display: block;
  margin-left: 5px;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
  padding: 0 5px;
}
.sidebar-nav.sidebar-nav-expanded {
  min-width: 197px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-inner {
    padding: 0;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items {
  display: block;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
  min-height: inherit;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item {
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: 1px solid #979797;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
  padding: 13px 0 10px;
  margin-bottom: 13px !important;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: inherit;
    background-color: #fff;
    padding: 14px 17px 12px;
    margin-bottom: 0 !important;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
  padding: 0;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
    width: inherit;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
  margin-left: 10px;
  margin-right: auto;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
    order: 2;
    max-width: inherit;
    padding-right: 20px;
  }
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.setting_img {
    order: 3;
  }
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.message_count_link {
    order: 1;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a span {
  position: initial;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a span {
    line-height: normal;
    margin-left: 0;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
  padding: 0 13px;
  margin-bottom: 23px !important;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
    display: none;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item span {
  font-size: 14px;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a {
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 20px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 20px 0;
    width: 100%;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a:after {
  display: none;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a.setting_img {
  display: block;
  max-width: 20px;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow {
  position: relative;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow {
    margin-bottom: 6px;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  background-image: url("../images/Dashboard/Triangle_for_expanded.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow:after {
    width: 14px;
    height: 27px;
    right: -30px;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a span {
  font-size: 16px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a span {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    max-width: inherit;
    color: #616161;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a img {
  margin-top: 0;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item span {
  max-width: 149px;
  width: 100%;
}

.circular-progress-bar {
  position: relative;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  pointer-events: none;
}
.circular-progress-bar.no-percentage {
  background-color: #fff;
  border-color: #D7D7D7;
  padding: 5px;
}
.circular-progress-bar.no-percentage svg {
  width: 40px;
  height: 40px;
}
.circular-progress-bar.no-percentage .arcs .outer-circle {
  fill: #fff;
}
.circular-progress-bar.no-percentage .arcs .inner-circle {
  fill: #fff;
}
.circular-progress-bar svg {
  width: 38px;
  height: 38px;
}
.circular-progress-bar .percentage_number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.circular-progress-bar .percentage_number span {
  font-size: 12px !important;
}
.circular-progress-bar .arcs .outer-circle {
  fill: #eee;
}
.circular-progress-bar .arcs .outer-arc {
  fill: #19A5AD;
}
.circular-progress-bar .arcs .inner-circle {
  fill: #eee;
}
.circular-progress-bar .arcs .inner-arc {
  fill: none;
}

.sidebar-nav-expanded .circular-progress-bar {
  border: 4px solid #fff;
  height: 58px;
  width: 58px;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar {
    border: 6px solid #fff;
    padding: 6px;
  }
}
.sidebar-nav-expanded .circular-progress-bar svg {
  width: 50px;
  height: 50px;
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage {
  border-color: #D7D7D7;
  width: auto;
  height: auto;
  padding: 4px;
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar.no-percentage svg {
    width: 84px;
    height: 84px;
  }
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar.no-percentage .inner-circle {
    display: block;
  }
}

.circles {
  display: none;
}
.circles .outer-circle {
  fill: #19A5AD;
  stroke: #19A5AD;
  stroke-width: 1;
}
.circles .inner-circle {
  fill: #eee;
  stroke: #19A5AD;
  stroke-width: 1;
}
.circles.empty-circles .outer-circle {
  fill: #fff;
  stroke: transparent;
}
.circles.empty-circles .inner-circle {
  stroke: transparent;
}

.no-percentage .percentage_number {
  display: none;
}
.no-percentage .inner-circle {
  display: none;
}
.no-percentage .inner-arc {
  display: none;
}

.my-asvab-score-no-fyi {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 2;
  border-bottom: 1px solid #CDCDCD;
  padding: 14px 0;
  margin-bottom: 20px;
}
.my-asvab-score-no-fyi h5 {
  font-size: 14px;
  line-height: 19px;
  color: #4a4a4a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi h5 span br {
    display: none;
  }
}
.my-asvab-score-no-fyi h5 a {
  margin-left: 10px;
  margin-right: 0;
}
.my-asvab-score-no-fyi h5 a.explain {
  background: url("../images/Dashboard/question_rounded.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  flex: 1 0 auto;
}
.my-asvab-score-no-fyi .my-strengths-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: calc(100% - 350px);
  width: 100%;
}
@media (max-width: 991px) {
  .my-asvab-score-no-fyi .my-strengths-bar {
    max-width: calc(100% - 300px);
  }
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi .my-strengths-bar {
    max-width: 100%;
  }
}
.my-asvab-score-no-fyi .my-strengths-bar .my-results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  color: #4A4A4A;
}
.my-asvab-score-no-fyi .my-strengths-bar .my-results .skill-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 10px;
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi .my-strengths-bar .my-results .skill-images {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: auto;
  }
}
.my-asvab-score-no-fyi .my-strengths-bar .my-results .skill-images img {
  margin-bottom: 5px;
}
.my-asvab-score-no-fyi .my-interest-bar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 325px;
  width: 100%;
  padding-top: 15px;
  padding-left: 30px;
}
@media (max-width: 991px) {
  .my-asvab-score-no-fyi .my-interest-bar {
    max-width: 290px;
  }
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi .my-interest-bar {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}
.my-asvab-score-no-fyi .my-interest-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #979797;
}
@media (max-width: 767px) {
  .my-asvab-score-no-fyi .my-interest-bar:before {
    display: none;
  }
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi .my-interest-bar .my-interest-codes-inner {
    margin: 0 auto;
  }
}
.my-asvab-score-no-fyi .my-interest-bar .my-interest-code {
  position: relative;
  margin: 0 15px;
  z-index: 1;
  color: #4A4A4A;
  display: inline-block;
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi .my-interest-bar .my-interest-code {
    margin: 0 10px;
  }
}
.my-asvab-score-no-fyi .my-interest-bar .my-interest-code:hover {
  text-decoration: none;
}
.my-asvab-score-no-fyi .my-interest-bar .my-interest-code strong {
  display: block;
  text-align: center;
}
.my-asvab-score-no-fyi.score-with-afqt .score-with-afqt-data {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 0 15px;
}
@media (max-width: 639px) {
  .my-asvab-score-no-fyi.score-with-afqt .score-with-afqt-data {
    margin: 0 10px;
  }
}
.my-asvab-score-no-fyi.score-with-afqt .switch-icon {
  min-width: 23px;
}

.complete-fyi-video-tutorial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
}
@media (max-width: 991px) {
  .complete-fyi-video-tutorial {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .complete-fyi-video-tutorial {
    display: inline-block;
  }
}
.complete-fyi-video-tutorial .complete-fyi-video-content {
  max-width: calc(100% - 220px);
  width: 100%;
}
@media (max-width: 480px) {
  .complete-fyi-video-tutorial .complete-fyi-video-content {
    max-width: 100%;
  }
}
.complete-fyi-video-tutorial .complete-fyi-video-content p {
  color: #000000;
  margin-bottom: 0;
}
.complete-fyi-video-tutorial .complete-fyi-video-content a {
  font-size: 16px;
  line-height: 22px;
}
.complete-fyi-video-tutorial .complete-fyi-video-wrapper {
  max-width: 168px;
  width: 100%;
}
@media (max-width: 480px) {
  .complete-fyi-video-tutorial .complete-fyi-video-wrapper {
    margin-top: 15px;
    margin-bottom: 12px;
    max-width: 100%;
  }
}
.complete-fyi-video-tutorial .complete-fyi-video-wrapper .img-with-play-icon {
  position: relative;
}
.complete-fyi-video-tutorial .complete-fyi-video-wrapper .img-with-play-icon .video-play {
  max-width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.career-exploration-section .career-exploration-content p {
  margin-bottom: 0;
}
.career-exploration-section .career-exploration-content .text-l-gray {
  color: #4A4A4A;
}
.career-exploration-section .career-exploration-content .start-career-btn {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  min-width: 204px;
  padding: 8px 40px;
  margin: 10px auto 25px;
  width: 100%;
}
@media (max-width: 359px) {
  .career-exploration-section .career-exploration-content .start-career-btn {
    padding: 8px 20px;
  }
}
.career-exploration-section .custom-full {
  max-width: 100%;
}

.skills-interests-career {
  background-color: rgba(45, 162, 167, 0.13);
  color: #4A4A4A;
  border: 1px solid rgba(184, 184, 184, 0.13);
  text-align: center;
  padding: 26px 18px 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.skills-interests-career h4 {
  font-size: 21px;
  font-weight: bold;
  color: #4A4A4A !important;
}
@media (max-width: 359px) {
  .skills-interests-career h4 {
    font-size: 20px;
  }
}
.skills-interests-career h6 {
  line-height: normal;
  margin-top: 3px;
  margin-bottom: 20px;
}
.skills-interests-career p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
.skills-interests-career a {
  font-size: 14px !important;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  min-width: 204px;
  padding: 8px 40px !important;
  margin: 0 auto;
}
@media (max-width: 359px) {
  .skills-interests-career a {
    padding: 8px 20px !important;
  }
}

.favorite-box {
  border: 1px solid #B8B8B8;
}
.favorite-box + .favorite-box {
  margin-top: 20px;
}
.favorite-box h6 {
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
  margin-bottom: 0;
}
.favorite-box .favorite-box-title {
  background-color: #EEEEEE;
  padding: 7px 10px;
}
.favorite-box .favorite-box-title span {
  float: right;
}
@media screen and (min-width: 640px) and (max-width: 680px) {
  .favorite-box .favorite-box-title span {
    float: none;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-title span {
    float: none;
    display: inline-block;
    width: 100%;
  }
}
.favorite-box .favorite-box-content {
  display: flex;
  align-items: center;
  color: #4A4A4A;
  padding: 15px 15px 20px;
  width: 100%;
}
.favorite-box .favorite-box-content .favorite-box-details {
  margin-left: 20px;
  max-width: calc(100% - 33px);
  width: 100%;
}
.favorite-box .favorite-box-content p {
  margin-bottom: 0;
}
.favorite-box .favorite-box-content-list {
  display: inline-block;
  padding: 15px 15px 0;
}
.favorite-box .favorite-box-content-list .favorite-checkmark-box-block {
  display: flex;
  align-items: center;
  width: 100%;
}
.favorite-box .favorite-box-content-list .favorite-checkmark-box-block .checkmark-box {
  float: left;
  margin-right: 10px;
}
.favorite-box .favorite-box-content-list .custom-bottom-space {
  padding-bottom: 25px;
}
.favorite-box .favorite-box-content-list .favorite-box-details {
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details {
    margin-left: 0;
    max-width: 100%;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .custom-width-35 {
  width: 35%;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .custom-width-15 {
  width: 15%;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-bottom: 0 !important;
  text-align: center;
  line-height: normal !important;
  padding: 7px 8px;
  height: 40px;
}
@media screen and (max-width: 892px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li {
    width: 50% !important;
  }
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li {
    display: inline-block;
    float: none;
    width: 100% !important;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li:before {
  content: "" !important;
  border-left: 1px solid #979797;
  width: 1px;
  left: 0 !important;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li:before {
    display: none;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li:first-child:before {
  display: none;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li a {
  font-size: 14px;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list li a b {
  margin-right: 4px;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .create-plan a.create-plan-btn {
  margin: 0;
  background-color: #eee;
  color: #4C44AC;
  padding: 5px 15px;
  text-transform: none;
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .create-plan a.create-plan-btn i {
  margin-left: 6px;
}
@media screen and (min-width: 640px) and (max-width: 686px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .favorite-meter {
    display: inline-block;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .favorite-meter {
    display: inline-block;
    border-top: 1px solid #979797;
    padding: 7px 8px;
    height: auto;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .favorite-meter span {
  font-size: 12px;
  margin-right: 10px;
  float: left;
}
@media screen and (min-width: 640px) and (max-width: 686px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .favorite-meter span {
    float: none;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .favorite-meter span {
    float: none;
    display: inline-block;
    width: 100% !important;
  }
}
@media screen and (max-width: 892px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .icons {
    border-top: 1px solid #979797;
  }
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .icons {
    float: left;
    width: 50% !important;
  }
}
@media screen and (max-width: 892px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .note:before {
    display: none;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .remove {
  padding-right: 0;
}
@media screen and (max-width: 892px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .remove {
    padding-right: 8px;
  }
}
@media screen and (max-width: 480px) {
  .favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .remove:before {
    content: "" !important;
    border-left: 1px solid #979797;
    width: 1px;
    display: inline-block;
    left: 0 !important;
    height: 100%;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-details .favorite-box-details-list .remove .remove-icon img {
  position: relative;
  top: -2px;
}
.favorite-box .favorite-box-content-list .favorite-box-icon {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .favorite-box .favorite-box-content-list .favorite-box-icon {
    margin-top: 16px;
  }
}
@media screen and (max-width: 767px) {
  .favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-bottom: 0 !important;
  text-align: center;
  line-height: normal !important;
  padding: 0px 20px;
  height: auto;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list li:before {
  content: "" !important;
  border-left: 1px solid #979797;
  width: 1px;
  left: 0 !important;
  height: 100%;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list li:first-child:before {
  display: none;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .create-plan a.create-plan-btn {
  margin: 0;
  background-color: #eee;
  color: #4C44AC;
  padding: 5px 15px;
  text-transform: none;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .create-plan a.create-plan-btn i {
  margin-left: 6px;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .favorite-meter span {
  font-size: 12px;
  margin-right: 10px;
  float: left;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .favorite-meter .favorits-icon {
  float: left;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .remove {
  padding-right: 0;
}
@media screen and (max-width: 892px) {
  .favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .remove {
    padding-right: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 785px) {
  .favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .remove {
    padding-right: 0px;
  }
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .remove .remove-icon .d-hide {
  opacity: 0;
}
.favorite-box .favorite-box-content-list .favorite-box-icon .favorite-box-details-list .remove .remove-icon img {
  position: relative;
  top: -2px;
}
.favorite-box .favorite-box-content-list .custom-width-67 {
  width: 67%;
}
@media screen and (max-width: 912px) {
  .favorite-box .favorite-box-content-list .custom-width-67 {
    width: 57%;
  }
}
@media screen and (max-width: 767px) {
  .favorite-box .favorite-box-content-list .custom-width-67 {
    width: 100%;
  }
}
.favorite-box .favorite-box-content-list .custom-width-33 {
  width: 33%;
}
@media screen and (max-width: 912px) {
  .favorite-box .favorite-box-content-list .custom-width-33 {
    width: 43%;
  }
}
@media screen and (max-width: 767px) {
  .favorite-box .favorite-box-content-list .custom-width-33 {
    width: 100%;
  }
}
.favorite-box .favorite-box-content-list p {
  margin-bottom: 0;
}
.favorite-box .border-bottom {
  border-bottom: 1px solid #CDCDCD;
}
.favorite-box .favorite-box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  padding: 7px 10px;
}
.favorite-box .favorite-box-footer p {
  font-size: 14px;
  color: #4A4A4A;
  margin-bottom: 0;
}
.favorite-box .favorite-box-footer a {
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
}
@media screen and (max-width: 400px) {
  .favorite-box .favorite-box-footer a {
    padding: 4px 6px;
  }
}

@media screen and (max-width: 767px) {
  .career-exploration-favorite-box .favorite-box-content-list .favorite-checkmark-box-block {
    display: inline-block;
  }
}

#footer {
  z-index: 1;
  position: relative;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label.styled-checkbox-label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
}
.styled-checkbox + label.styled-checkbox-label:before {
  content: "";
  background: #C2D1D9;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.styled-checkbox:checked + label:before {
  background: #1CAFB6;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #E0E8EC;
  margin-left: 0;
  margin-right: 0;
}
.styled-checkbox:checked + label:after {
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
}

@media (max-width: 800px) {
  nav#main-menu {
    display: none;
  }
}

/*# sourceMappingURL=explore_tab_video.css.map */
