.text-teal {
  color: #2DA2A7;
}

.text-brown {
  color: #8A2F35;
}

.text-blue {
  color: #2F2C69;
}

.text-gray {
  color: #4A4A4A;
}

.text-l-gray {
  color: #A5A5A5;
}

.text-light-gray {
  color: #D4D4D4;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

:focus {
  outline: none;
}

.justify-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.occufind #content-wrap {
  padding-top: 0;
  overflow: hidden;
}

.occufind #content-wrap > .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 639px) {
  .occufind #content-wrap > .row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 640px) {
  .mobile-show {
    display: none;
  }
}
@media (max-width: 639px) {
  .mobile-hide {
    display: none;
  }
}
.sidebar-nav {
  display: inline-block;
  background-color: #EEEEEE;
  text-align: center;
  min-width: 85px;
  padding-left: 15px;
  z-index: 1;
}
@media (max-width: 639px) {
  .sidebar-nav {
    width: 100%;
    padding: 0;
    z-index: 3;
  }
}
.sidebar-nav.scroll-to-fixed-fixed {
  height: 100%;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 20px 17px 0;
    background-color: #eeeeee;
  }
}
@media (max-width: 359px) {
  .sidebar-nav .sidebar-nav-inner {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.sidebar-nav .sidebar-nav-items {
  display: block;
  margin: 0 0 20px auto;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: baseline;
    align-items: baseline;
    width: 100%;
    margin: 0 auto 0 0;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item {
  margin-bottom: 13px !important;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item {
    margin-bottom: 0 !important;
  }
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item:nth-child(2) {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item:before {
  display: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
  position: relative;
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 23px !important;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
    order: 4;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 0 !important;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #B8B8B8;
  left: 0;
  bottom: 0;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting:after {
    display: none;
  }
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
    min-height: inherit;
    border: none;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 15px 4px 10px;
  }
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a:hover {
    background-color: transparent;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a:after {
  display: none;
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a img {
    margin-top: 0;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
  font-size: 14px;
  line-height: normal;
  max-width: 100px;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #312A88;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting span:not(.message_count) {
  color: #000;
  margin-bottom: 0;
}
@media (min-width: 640px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting span:not(.message_count) {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting .message_count {
  background-image: url("../images/Dashboard/message_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-left: 6px;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting .message_count {
    position: absolute;
    top: 5px;
    right: 17px;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  color: #000;
  border: 3px solid #FFFFFF;
  border-right: 0;
  min-height: 80px;
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item a {
    border: none;
    min-height: inherit;
    padding: 0 15px 10px;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  background-image: url("../images/Dashboard/Triangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 639px) {
  .sidebar-nav .sidebar-nav-items .sidebar-nav-item a:after {
    display: none;
  }
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a.active {
  background-color: #fff;
  cursor: context-menu;
  pointer-events: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:hover {
  background-color: #fff;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a:focus {
  text-decoration: none;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item a img {
  margin-top: 12px;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item > img {
  margin-right: auto;
  display: block;
  margin-left: 5px;
}
.sidebar-nav .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
  padding: 0 5px;
}
.sidebar-nav.sidebar-nav-expanded {
  min-width: 197px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-inner {
    padding: 0;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items {
  display: block;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
  min-height: inherit;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item {
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: 1px solid #979797;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
  padding: 13px 0 10px;
  margin-bottom: 13px !important;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting {
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: inherit;
    background-color: #fff;
    padding: 14px 17px 12px;
    margin-bottom: 0 !important;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
  padding: 0;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a {
    width: inherit;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
  margin-left: 10px;
  margin-right: auto;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.sidebar-user-email {
    order: 2;
    max-width: inherit;
    padding-right: 20px;
  }
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.setting_img {
    order: 3;
  }
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a.message_count_link {
    order: 1;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a span {
  position: initial;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-setting a span {
    line-height: normal;
    margin-left: 0;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
  padding: 0 13px;
  margin-bottom: 23px !important;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item.sidebar-nav-item-no-link {
    display: none;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item span {
  font-size: 14px;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a {
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 20px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 20px 0;
    width: 100%;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a:after {
  display: none;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a.setting_img {
  display: block;
  max-width: 20px;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow {
  position: relative;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow {
    margin-bottom: 6px;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  background-image: url("../images/Dashboard/Triangle_for_expanded.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a .expand-arrow:after {
    width: 14px;
    height: 27px;
    right: -30px;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a span {
  font-size: 16px;
}
@media (max-width: 639px) {
  .sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a span {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    max-width: inherit;
    color: #616161;
  }
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item a img {
  margin-top: 0;
}
.sidebar-nav.sidebar-nav-expanded .sidebar-nav-items .sidebar-nav-item span {
  max-width: 149px;
  width: 100%;
}

.circular-progress-bar {
  position: relative;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  pointer-events: none;
}
.circular-progress-bar.no-percentage {
  background-color: #fff;
  border-color: #D7D7D7;
  padding: 5px;
}
.circular-progress-bar.no-percentage svg {
  width: 40px;
  height: 40px;
}
.circular-progress-bar.no-percentage .arcs .outer-circle {
  fill: #fff;
}
.circular-progress-bar.no-percentage .arcs .inner-circle {
  fill: #fff;
}
.circular-progress-bar svg {
  width: 38px;
  height: 38px;
}
.circular-progress-bar .percentage_number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.circular-progress-bar .percentage_number span {
  font-size: 12px !important;
}
.circular-progress-bar .arcs .outer-circle {
  fill: #eee;
}
.circular-progress-bar .arcs .outer-arc {
  fill: #19A5AD;
}
.circular-progress-bar .arcs .inner-circle {
  fill: #eee;
}
.circular-progress-bar .arcs .inner-arc {
  fill: none;
}

.sidebar-nav-expanded .circular-progress-bar {
  border: 4px solid #fff;
  height: 58px;
  width: 58px;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar {
    border: 6px solid #fff;
    padding: 6px;
  }
}
.sidebar-nav-expanded .circular-progress-bar svg {
  width: 50px;
  height: 50px;
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage {
  border-color: #D7D7D7;
  width: auto;
  height: auto;
  padding: 4px;
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar.no-percentage svg {
    width: 84px;
    height: 84px;
  }
}
.sidebar-nav-expanded .circular-progress-bar.no-percentage img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
@media (max-width: 639px) {
  .sidebar-nav-expanded .circular-progress-bar.no-percentage .inner-circle {
    display: block;
  }
}

.circles {
  display: none;
}
.circles .outer-circle {
  fill: #19A5AD;
  stroke: #19A5AD;
  stroke-width: 1;
}
.circles .inner-circle {
  fill: #eee;
  stroke: #19A5AD;
  stroke-width: 1;
}
.circles.empty-circles .outer-circle {
  fill: #fff;
  stroke: transparent;
}
.circles.empty-circles .inner-circle {
  stroke: transparent;
}

.no-percentage .percentage_number {
  display: none;
}
.no-percentage .inner-circle {
  display: none;
}
.no-percentage .inner-arc {
  display: none;
}

.my-asvab-score {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #EEEEEE;
  z-index: 2;
  padding: 14px 18px 8px 35px;
  margin-left: -47px;
}
@media (max-width: 991px) {
  .my-asvab-score {
    padding-left: 30px;
    margin-left: -27px;
  }
}
@media (max-width: 639px) {
  .my-asvab-score {
    padding-right: 0;
  }
}
.my-asvab-score:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10000px;
  left: 100%;
  top: 0;
  background-color: #eee;
}
.my-asvab-score h5 {
  font-size: 14px;
  color: #4a4a4a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0;
}
.my-asvab-score h5 a {
  margin-left: 10px;
  margin-right: 0;
}
.my-asvab-score h5 a.explain {
  flex: 1 0 auto;
}
.my-asvab-score .my-strengths-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: calc(100% - 350px);
  width: 100%;
}
@media (max-width: 991px) {
  .my-asvab-score .my-strengths-bar {
    max-width: calc(100% - 300px);
  }
}
@media (max-width: 767px) {
  .my-asvab-score .my-strengths-bar {
    max-width: 100%;
  }
}
.my-asvab-score .my-strengths-bar .my-results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #4A4A4A;
}
.my-asvab-score .my-strengths-bar .my-results .skill-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 639px) {
  .my-asvab-score .my-strengths-bar .my-results .skill-images {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: auto;
  }
}
.my-asvab-score .my-strengths-bar .my-results .skill-images img {
  margin-right: 5px;
}
@media (max-width: 639px) {
  .my-asvab-score .my-strengths-bar .my-results .skill-images img {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
.my-asvab-score .my-interest-bar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 325px;
  width: 100%;
  padding-left: 30px;
}
@media (max-width: 991px) {
  .my-asvab-score .my-interest-bar {
    max-width: 290px;
  }
}
@media (max-width: 767px) {
  .my-asvab-score .my-interest-bar {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}
.my-asvab-score .my-interest-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #979797;
}
@media (max-width: 767px) {
  .my-asvab-score .my-interest-bar:before {
    display: none;
  }
}
.my-asvab-score .my-interest-bar .my-interest-code {
  position: relative;
  margin: 0 10px;
  z-index: 1;
  color: #fff;
}
.my-asvab-score .my-interest-bar .my-interest-code:hover {
  text-decoration: none;
}
.my-asvab-score .my-interest-bar .my-interest-code:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: -1;
  margin-top: -2px;
}
.my-asvab-score .my-interest-bar .my-interest-code.code-c:before {
  border-bottom-color: #54873d;
}
.my-asvab-score .my-interest-bar .my-interest-code.code-r:before {
  border-bottom-color: #027ECF;
}
.my-asvab-score .my-interest-bar .my-interest-code.code-i:before {
  border-bottom-color: #810707;
}
.my-asvab-score.score-with-afqt .my-results {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.my-asvab-score.score-with-afqt .score-with-afqt-data {
  margin: 0 10px;
}
.my-asvab-score.score-with-afqt .score-with-afqt-data span {
  margin-right: 5px;
}
@media (max-width: 991px) {
  .my-asvab-score.score-with-afqt .score-with-afqt-data .my-strengths-bar {
    max-width: 100%;
  }
}
.my-asvab-score.score-with-afqt .score-with-afqt-data .my-interest-bar {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .my-asvab-score.score-with-afqt .score-with-afqt-data .my-interest-bar {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .my-asvab-score.score-with-afqt .score-with-afqt-data .my-interest-bar:before {
    display: none;
  }
}
.my-asvab-score.score-with-afqt .switch-icon {
  min-width: 23px;
}

.occupation-section {
  margin-top: 40px;
}

.explore-search {
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  .explore-search {
    padding-left: 30px;
  }
}
@media (max-width: 639px) {
  .explore-search {
    max-width: 100%;
    padding-left: 15px;
  }
}
.explore-search:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10000px;
  right: 100%;
  top: 0;
  background-color: #eee;
}
.explore-search .explore-bar {
  margin-bottom: 40px;
}
.explore-search .explore-bar .button {
  padding: 5px 55px;
  margin: 10px auto;
}
.explore-search .other-search-list .other-details p {
  font-size: 11px;
  color: #4A4A4A;
  line-height: 16px;
}

.bg-transparent thead {
  background-color: transparent;
}
.bg-transparent tbody {
  background-color: transparent;
}
.bg-transparent tfoot {
  background-color: transparent;
}

.occufind-check-table thead {
  border: 0;
}
.occufind-check-table thead tr th {
  border: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}
.occufind-check-table tbody tr td {
  border: 0;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 8px;
  vertical-align: middle;
}
.occufind-check-table tbody tr td.triangle {
  padding-top: 8px;
}
.occufind-check-table tbody tr td.pr-0 {
  padding-right: 0;
}
@media screen and (max-width: 1024px) {
  .occufind-check-table tbody tr td.pr-0 {
    width: 40px;
  }
}
.occufind-check-table tbody tr td.checkbox-tick {
  text-align: center;
}
.occufind-check-table tbody tr td.checkbox-tick input.styled-checkbox {
  position: fixed !important;
}
.occufind-check-table tbody tr:nth-child(even) {
  background-color: transparent;
}

@media screen and (min-width: 1025px) {
  .occufind-check-stengths-table tbody tr td.checkbox-tick {
    text-align: right;
  }
}
.occufind-check-stengths-table tbody tr td.checkbox-tick label:before {
  margin-right: 0;
}

.occufind-check-categories-table tbody tr td .round-list {
  background-color: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-bottom: 0 !important;
}
@media (max-width: 1024px) {
  .occufind-check-categories-table tbody tr td .styled-checkbox + label {
    margin-right: 6px;
  }
}
.occufind-check-categories-table tbody tr td.pt-10 {
  padding-top: 10px;
}
@media (max-width: 1024px) {
  .occufind-check-categories-table tbody tr td.pt-10 {
    padding-top: 10px;
  }
}

.keyword-panal {
  margin-top: 24px;
}
.keyword-panal h4 {
  font-size: 13px;
  line-height: 16px !important;
  margin-bottom: 8px !important;
}
.keyword-panal .search-keyword {
  width: 100%;
  position: relative;
  display: flex;
}
.keyword-panal .search-keyword .searchTerm {
  border: 1px solid #979797;
  padding: 2px 30px 2px 6px;
  color: #4A4A4A;
  margin-bottom: 8px;
  outline: none;
}
.keyword-panal .search-keyword .searchTerm:focus {
  color: #4A4A4A;
  box-shadow: none;
}
.keyword-panal .search-keyword .searchButton {
  background: #2DA2A7;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
  outline: none;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label.styled-checkbox-label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
}
.styled-checkbox + label.styled-checkbox-label:before {
  content: "";
  background: #C2D1D9;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.styled-checkbox:checked + label:before {
  background: #1CAFB6;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #E0E8EC;
  margin-left: 0;
  margin-right: 0;
}
.styled-checkbox:checked + label:after {
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
}

.occufind #content-wrap h3 {
  background-color: #A2A2A2 !important;
  border: 1px solid #979797;
  color: #fff;
  font-size: 14px;
  font-weight: bold !important;
  line-height: 16px;
}
.occufind #search-sidebar section {
  background: #eee;
  border-color: #bcbcbc;
}

a.explain.alt {
  background: url(../images/Dashboard/question_rounded.svg);
  background-size: cover;
  width: 17px;
  height: 17px;
  float: none;
  margin-left: 8px;
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  #search-sidebar {
    float: none !important;
    margin-top: 20px;
    display: inline-block;
  }
}
#search-sidebar #explore .menu .career-link {
  float: left;
  width: auto;
}
#search-sidebar #explore .menu .explain.alt {
  float: left;
}

.search-result-list {
  margin: 30px 0 25px;
}
@media screen and (min-width: 481px) {
  .search-result-list .list-pagination {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.search-result-list .list-pagination span {
  color: #4A4A4A;
  font-size: 13px;
}
.search-result-list .list-pagination li a:hover {
  color: #4A4A4A;
  border-color: transparent;
}
.search-result-list .list-pagination li a:focus {
  color: #4A4A4A;
  background-color: transparent;
  border-color: transparent;
}
.search-result-list .list-pagination li.active a {
  color: #4A4A4A;
}
.search-result-list .list-pagination li.active a:hover {
  color: #4A4A4A;
}
.search-result-list .list-pagination li.active a:focus {
  background-color: transparent;
  border-color: transparent;
}
.search-result-list .results-list {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  list-style: none;
  margin: 0;
  padding: 8px 0;
}
.search-result-list .results-list li {
  list-style: none;
  position: relative;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
}
.search-result-list .results-list li:before {
  content: "" !important;
  position: absolute;
  width: 17px;
  height: 16px;
  background-image: url("/images/explore_careers/heart_add.svg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 10px !important;
  top: 50% !important;
  transform: translateY(-50%);
}
.search-result-list .results-list li a {
  padding-left: 29px;
  outline: none;
}
.search-result-list .results-list li:nth-child(even) {
  background-color: #f5f5f5;
}

@media (max-width: 800px) {
  nav#main-menu {
    display: none;
  }
}

/*# sourceMappingURL=explore_search_results.css.map */
