.education-opportunity {
    padding-top: 20px;
    overflow: hidden;

    .section-overview {
        padding-top: 20px;

        .section-title {
            margin-bottom: 15px;
        }
        h3 {
            padding: 8px 10px !important;
        }
        ul {
            margin-left: 15px;

            li {
                &:before {
                    left: -15px !important;
                }
            }
        }
        a {
            color: #298d91;
        }
    }

    .education-opportunity-sidebar {
        padding-top: 5px;

        @media (max-width: 767px) {
            max-width: 450px;
            margin: 0 auto 20px;
        }

        .education-opportunity-sidebar-top-img {
            text-align: center;
        }

        .education-opportunity-sidebar-content-wrapper {
            border: 1px solid #33afb4;
            padding-bottom: 6px;
            margin-top: -17px;

            .education-opportunity-sidebar-title {
                font-size: 16px;
                line-height: 20px;
                background-color: #33afb4;
                color: #fff;
                text-transform: none;
                padding: 23px 40px 12px 19px;
                margin-bottom: 25px;
            }
            .education-opportunity-sidebar-content {
                padding: 0 20px;

                ul {
                    margin-left: 0;

                    li {
                        font-size: 16px !important;
                        margin-bottom: 12px !important;

                        &:before {
                            display: none;
                        }
                        a {
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: bold;
                            display: block;
                            position: relative;

                            &:hover {
                                opacity: 0.8;

                                &:after {
                                    opacity: 0.8;
                                }
                            }

                            &:after {
                                content: '>';
                                content: '\f105 ';
                                font-family: fontawesome;
                                position: absolute;
                                right: 11px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}