.text-teal {
    color: #2DA2A7;
}
.text-brown {
    color: #8A2F35;
}
.text-blue {
    color: #2F2C69;
}
.text-gray {
    color: #4A4A4A;
}
.text-l-gray {
    color: #A5A5A5;
}
.text-light-gray {
    color: #D4D4D4;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mr-auto {
    margin-right: auto;
}
.ml-10 {
    margin-left: 10px;
}

.occufind #content-wrap {
    padding-top: 0;
    overflow: hidden;
}

.occufind #content-wrap > .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    @media (max-width: 639px) {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (min-width: 640px) {
    .mobile-show {
        display: none;
    }
}
@media (max-width: 639px) {
    .mobile-hide {
        display: none;
    }
}

.sidebar-nav {
    display: inline-block;
    background-color: #EEEEEE;
    text-align: center;
    min-width: 85px;
    padding-left: 15px;
    z-index: 1;

    @media (max-width: 639px) {
        width: 100%;
        padding: 0;
        z-index: 3;
    }

    &.scroll-to-fixed-fixed {
        height: 100%;
    }

    .sidebar-sticky {
        @media (max-width: 639px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .sidebar-nav-inner {

        @media (max-width: 639px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
            padding: 20px 17px 0;
            background-color: #eeeeee;
        }

        @media (max-width: 359px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .sidebar-nav-items {
        display: block;
        margin: 0 0 20px auto;

        @media (max-width: 639px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: baseline;
            align-items: baseline;
            width: 100%;
            margin: 0 auto 0 0;
        }
    
        .sidebar-nav-item {
            margin-bottom: 13px !important;

            @media (max-width: 639px) {
                margin-bottom: 0 !important;

                &:nth-child(2) {
                    display: none;
                }
            }

            &:before {
                display: none;
            }

            &.sidebar-nav-setting {
                position: relative;
                min-height: 50px;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                margin-right: 10px;
                margin-bottom: 23px !important;
        
                @media (max-width: 639px) {
                    order: 4;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    margin-right: 0;
                    margin-bottom: 0 !important;
                }
        
                &:after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: #B8B8B8;
                    left: 0;
                    bottom: 0;
        
                    @media (max-width: 639px) {
                        display: none;
                    }
                }

                a {

                    @media (min-width: 640px) {
                        min-height: inherit;
                        border: none;
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        padding: 15px 4px 10px;
                    }

                    &:hover {
                        @media (min-width: 640px) {
                            background-color: transparent;
                        }
                    }

                    &:after {
                        display: none;
                    }

                    img {
                        @media (min-width: 640px) {
                            margin-top: 0;
                        }
                    }

                    &.sidebar-user-email {
                        font-size: 14px;
                        line-height: normal;
                        max-width: 100px;
                        width: 100%;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #312A88;
                    }
                    
                }
        
                span:not(.message_count) {
                    color: #000;
                    margin-bottom: 0;

                    @media (min-width: 640px) {
                        display: none;
                    }
                }
        
                .message_count {
                    background-image: url('../images/Dashboard/message_icon.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    min-width: 20px;
                    min-height: 20px;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                    margin-left: 6px;
        
                    @media (max-width: 639px) {
                        position: absolute;
                        top: 5px;
                        right: 17px;
                    }
                }
            }

            a {
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: center;
                align-items: center;
                color: #000;
                border: 3px solid #FFFFFF;
                border-right: 0;
                min-height: 80px;

                @media (max-width: 639px) {
                    border: none;
                    min-height: inherit;
                    padding: 0 15px 10px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 14px;
                    background-image: url('../images/Dashboard/Triangle.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 639px) {
                        display: none;
                    }
                }

                &.active {
                    background-color: #fff;
                    cursor: context-menu;
                    pointer-events: none;
                }

                &:hover {
                    background-color: #fff;
                    text-decoration: none;
                    outline: none;
                    transition: 0.3s;
                }

                &:focus {
                    text-decoration: none
                }

                img {
                    margin-top: 12px;
                }
            }

            > img {
                margin-right: auto;
                display: block;
                margin-left: 5px;
            }

            &.sidebar-nav-item-no-link {
                padding: 0 5px;
            }
        }

        
    }

    &.sidebar-nav-expanded {
        min-width: 197px;

        .sidebar-nav-inner {
            @media (max-width: 639px) {
                padding: 0;
            }
        }

        .sidebar-nav-items {
            display: block;

            .sidebar-nav-item {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                text-align: left;
                min-height: inherit;

                @media (max-width: 639px) {
                    -webkit-justify-content: center;
                    justify-content: center;
                    border-bottom: 1px solid #979797;
                }

                &.sidebar-nav-setting {
                    padding: 13px 0 10px;
                    margin-bottom: 13px !important;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        min-height: inherit;
                        background-color: #fff;
                        padding: 14px 17px 12px;
                        margin-bottom: 0 !important;
                    }

                    a {
                        padding: 0;

                        @media (max-width: 639px) {
                            width: inherit;
                        }

                        &.sidebar-user-email {
                            margin-left: 10px;
                            margin-right: auto;

                            @media (max-width: 639px) {
                                order: 2;
                                max-width: inherit;
                                padding-right: 20px;
                            }
                        }

                        &.setting_img {
                            @media (max-width: 639px) {
                                order: 3;
                            }
                        }

                        &.message_count_link {
                            @media (max-width: 639px) {
                                order: 1;
                            }
                        }

                        span {
                            position: initial;
                            @media (max-width: 639px) {
                                line-height: normal;
                                margin-left: 0;
                            }
                        }
                    }
                }

                &.sidebar-nav-item-no-link {
                    padding: 0 13px;
                    margin-bottom: 23px !important;

                    @media (max-width: 639px) {
                        display: none;
                    }
                }
            
                span {
                    font-size: 14px;
                }
                a {
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    padding-left: 12px;
                    padding-right: 20px;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                        padding: 20px 0;
                        width: 100%;
                    }

                    &:after {
                        display: none;
                    }
                    
                    &.setting_img {
                        display: block;
                        max-width: 20px;
                    }

                    .expand-arrow {
                        position: relative;

                        @media (max-width: 639px) {
                            margin-bottom: 6px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 7px;
                            height: 14px;
                            background-image: url('../images/Dashboard/Triangle_for_expanded.png');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            right: -17px;
                            top: 50%;
                            transform: translateY(-50%);

                            @media (max-width: 639px) {
                                width: 14px;
                                height: 27px;
                                right: -30px;
                            }
                        }
                    }

                    span {
                        font-size: 16px;

                        @media (max-width: 639px) {
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            max-width: inherit;
                            color: #616161;
                        }
                    }
    
                    img {
                        margin-top: 0;
                    }
                }
                span {
                    max-width: 149px;
                    width: 100%;
                }
            }

            
        }
    }
}


// Progress-bar
.circular-progress-bar {
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    pointer-events: none;

    &.no-percentage {
        background-color: #fff;
        border-color: #D7D7D7;
        padding: 5px;

        svg {
            width: 40px;
            height: 40px;
        }

        .arcs {
            .outer-circle {
                fill: #fff;
            }
            .inner-circle {
                fill: #fff;
            }
        }
    }
    
    svg {
        width: 38px;
        height: 38px;
    }

    .percentage_number {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        font-size: 12px;
        font-weight: bold;
        color: #000000;

        span {
            font-size: 12px !important;
        }
    }

    .arcs {
        .outer-circle {
            fill: #eee;
        }
        .outer-arc {
            fill: #19A5AD;
        }
        .inner-circle {
            fill: #eee;
        }
        .inner-arc {
            fill: none;
        }
    }
}

.sidebar-nav-expanded {
    .circular-progress-bar {
        border: 4px solid #fff;
        height: 58px;
        width: 58px;

        @media (max-width: 639px) {
            border: 6px solid #fff;
            padding: 6px;
        }

        svg {
            width: 50px;
            height: 50px;
        }

        &.no-percentage {
            border-color: #D7D7D7;
            width: auto;
            height: auto;
            padding: 4px;

            svg {
                width: 24px;
                height: 24px;

                @media (max-width: 639px) {
                    width: 84px;
                    height: 84px;
                }
            }

            img {
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
            }

            .inner-circle {
                @media (max-width: 639px) {
                    display: block;
                }
            }
        }
    }
}
 

.circles {
    display: none;

    .outer-circle {
        fill: #19A5AD;
        stroke: #19A5AD;
        stroke-width: 1;
    }
    .inner-circle {
        fill: #eee;
        stroke: #19A5AD;
        stroke-width: 1;
    }
    &.empty-circles {
        .outer-circle {
            fill: #fff;
            stroke: transparent;
        }
        .inner-circle {
            stroke: transparent;
        }
    }
}

.no-percentage {
    .percentage_number {
        display: none;
    }
    .inner-circle {
        display: none;
    }
    .inner-arc {
        display: none;
    }
}
// Progress-bar

.my-asvab-score {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    z-index: 2;
    padding: 14px 18px 8px 35px;
    margin-left: -47px;

    @media (max-width: 991px) {
        padding-left: 30px;
        margin-left: -27px;
    }

    @media (max-width: 639px) {
        padding-right: 0;
    }

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 10000px;
        left: 100%;
        top: 0;
        background-color: #eee;
    }
    
    h5 {
        font-size: 14px;
        color: #4a4a4a;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 0;

        a {
            margin-left: 10px;
            margin-right: 0;

            &.explain {
                background: url('../images/Dashboard/question_rounded.svg');
                background-size: cover;
                width: 17px;
                height: 17px;
                flex: 1 0 auto;
            }
        }
    }

    .my-strengths-bar {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: calc(100% - 350px);
        width: 100%;

        @media (max-width: 991px) {
            max-width: calc(100% - 300px);
        }

        @media (max-width: 767px) {
            max-width: 100%;
        }

        .my-results {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            color: #4A4A4A;

            .skill-images {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                margin: 0 10px;

                @media (max-width: 639px) {
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    margin-top: auto;
                }

                img {
                    margin-right: 5px;

                    @media (max-width: 639px) {
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    
    .my-interest-bar {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 325px;
        width: 100%;
        padding-left: 30px;

        @media (max-width: 991px) {
            max-width: 290px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #979797;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .my-interest-code {
            position: relative;
            margin: 0 10px;
            z-index: 1;
            color: #fff;
            
            &:hover {
                text-decoration: none;
            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 20px solid transparent;
                z-index: -1;
                margin-top: -2px;
            }

            &.code-c:before {
                border-bottom-color: #54873d;
            }
            &.code-r:before {
                border-bottom-color: #027ECF;
            }
            &.code-i:before {
                border-bottom-color: #810707;
            }
        }
    } 

    &.score-with-afqt {
        .my-results {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .score-with-afqt-data {
            margin: 0 10px;
            
            span {
                margin-right: 5px;
            }

            .my-strengths-bar {
                @media (max-width: 991px) {
                    max-width: 100%;
                }
            }

            .my-interest-bar {
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;

                @media (max-width: 991px) {
                    max-width: 100%;
                    padding-left: 0;
                    margin-top: 20px;
    
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .switch-icon {
            min-width: 23px;
        }
    }
}

// Explore Search Start
.explore-search {
    position: relative;
    width: 100%;
    padding-left: 50px;
    padding-right: 15px;

    @media (max-width: 991px) {
        padding-left: 30px;
    }

    @media (max-width: 639px) {
        max-width: 100%;
        padding-left: 15px;
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 10000px;
        right: 100%;
        top: 0;
        background-color: #eee;
    }

    .complete-fyi-video-tutorial {
        .green-title {
            margin-top: 38px;
        }
    }

    .occufind-panal {
        margin-bottom: 28px;

        .row {

            @media (min-width: 768px) {
                display: flex;
            }            

            .border-right {
                flex: 1;
                border-right: 1px solid #C5C5C5;
                position: relative;

                @media (max-width: 767px) {
                    border-right: 0;
                    margin-bottom: 25px;
                } 
            
                &:before {
                    background-color: #fff;
                    content: '+';
                    color: #CECECE;
                    position: absolute;
                    font-size: 36px;
                    font-weight: bold;
                    width: 35px;
                    height: 55px;                    
                    top: 50%;
                    right: -25px;
                    transform: translateY(-50%);

                    @media (max-width: 767px) {
                        display: none;
                    } 
                }

                &:last-child {
                    border: 0;
                }

                &:last-child:before {
                    display: none;
                }
            }

            .occufind-check-table {
                margin-bottom: 8px;

                thead {
                    border: 0;
                    tr {
                        th {
                            border: 0;
                            font-size: 13px;
                            font-weight: normal;
                            line-height: 16px;
    
                            a.explain.alt {
                                background: url(../images/Dashboard/question_rounded.svg);
                                background-size: cover;
                                width: 17px;
                                height: 17px;
                                float: none;
                                margin-left: 8px;
                                margin-right: 0;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            border: 0;
                            font-size: 13px;
                            line-height: 16px;
                            padding: 5px 8px;
                        }
                        td.triangle {
                            padding-top: 8px;  
                        }
                        td.pr-0 {
                            padding-right: 0;

                            @media (max-width: 767px) { 
                                width: 40px;
                            }
                        }
                        td.checkbox-tick {
                            text-align: center;
                        }
                        &:nth-child(even) {
                            background-color: transparent;
                        }
                    }
                }
            }

            .occufind-check-stengths-table {
                tbody {
                    tr {
                        td.checkbox-tick {

                            @media (min-width: 768px) {
                                text-align: right;
                            }
    
                            label {
                                &:before {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }

            .occufind-check-categories-table {
                tbody {
                    tr {
                        td {
                            .round-list {
                                background-color: #D8D8D8;
                                border: 1px solid #979797;
                                border-radius: 50%;
                                height: 20px;
                                width: 20px;
                            }

                            .styled-checkbox {                              
                                & + label {                                    
                                    @media (max-width: 767px) {
                                        margin-right: 6px;
                                    }
                                }
                            }
                        }
                        td.pt-20 {
                            padding-top: 20px;

                            @media (max-width: 767px) {
                                padding-top: 10px;
                            } 
                        }
                    }
                }
            }
            
            .keyword-panal {
                margin-top: 24px;

                h4 {
                    font-size: 13px;
                    line-height: 16px !important;
                    margin-bottom: 8px !important;
                }
                .search-keyword {
                    width: 100%;
                    position: relative;
                    display: flex;

                    .searchTerm {
                        border: 1px solid #979797;
                        padding: 2px 30px 2px 6px;                        
                        color: #4A4A4A;
                        margin-bottom: 8px;
                        outline: none;

                        &:focus{
                            color: #4A4A4A;
                            box-shadow: none;
                        }
                    }
                    
                    .searchButton {
                        background: #2DA2A7;
                        color: #fff;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bold;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        text-align: center;
                        outline: none;
                    }
                }
            }
        }
    }

    .explore-bar {
        margin-bottom: 40px;
        
        .button {
            padding: 5px 55px;
            margin: 10px auto;
        }
    }

    .other-search-list {
        .other-details {
            h6 {
                font-size: 13px;
                color: #4A4A4A;
                margin-bottom: 6px;
            }
        }
    }
}

// Styled Checkbox Start
.styled-checkbox {
    position: absolute;
    opacity: 0;

    & + label.styled-checkbox-label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        overflow: hidden;

        &:before {
            content: '';
            background: #C2D1D9;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &:checked + label:before {
        background: #1CAFB6;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;

        &:before {
            box-shadow: none;
            background: #E0E8EC;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Checkmark - Could be replaced with an image
    &:checked + label:after {
        content: "";
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -ms-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        position: absolute;
    }
}

.occufind {
    #content-wrap {
        h3 {
            background-color: #A2A2A2;
            border: 1px solid #979797;
            color: #fff;
            font-size: 14px;
            line-height: 16px;
        }
    }    
}