.occufind #content-wrap {
    padding-top: 0;
    overflow: hidden;
}

.occufind #content-wrap > .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    @media (max-width: 639px) {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (min-width: 640px) {
    .mobile-show {
        display: none;
    }
}
@media (max-width: 639px) {
    .mobile-hide {
        display: none;
    }
}

.explore-career {
    position: relative;
    width: 100%;
    padding-left: 50px;
    padding-right: 15px;

    @media (max-width: 991px) {
        padding-left: 30px;
    }

    @media (max-width: 639px) {
        max-width: 100%;
        padding-left: 15px;
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 10000px;
        right: 100%;
        top: 0;
        background-color: #eee;
    }
}

// Sidebar
.sidebar-nav {
    display: inline-block;
    background-color: #EEEEEE;
    text-align: center;
    min-width: 85px;
    padding-left: 15px;
    z-index: 1;

    @media (max-width: 639px) {
        width: 100%;
        padding: 0;
        z-index: 3;
    }

    &.scroll-to-fixed-fixed {
        height: 100%;
    }

    .sidebar-sticky {
        @media (max-width: 639px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .sidebar-nav-inner {

        @media (max-width: 639px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
            padding: 20px 17px 0;
            background-color: #eeeeee;
        }

        @media (max-width: 359px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .sidebar-nav-items {
        display: block;
        margin: 0 0 20px auto;

        @media (max-width: 639px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: baseline;
            align-items: baseline;
            width: 100%;
            margin: 0 auto 0 0;
        }
    
        .sidebar-nav-item {
            margin-bottom: 13px !important;

            @media (max-width: 639px) {
                margin-bottom: 0 !important;

                &:nth-child(2) {
                    display: none;
                }
            }

            &:before {
                display: none;
            }

            &.sidebar-nav-setting {
                position: relative;
                min-height: 50px;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                margin-right: 10px;
                margin-bottom: 23px !important;
        
                @media (max-width: 639px) {
                    order: 4;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    margin-right: 0;
                    margin-bottom: 0 !important;
                }
        
                &:after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: #B8B8B8;
                    left: 0;
                    bottom: 0;
        
                    @media (max-width: 639px) {
                        display: none;
                    }
                }

                a {

                    @media (min-width: 640px) {
                        min-height: inherit;
                        border: none;
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        padding: 15px 4px 10px;
                    }

                    &:hover {
                        @media (min-width: 640px) {
                            background-color: transparent;
                        }
                    }

                    &:after {
                        display: none;
                    }

                    img {
                        @media (min-width: 640px) {
                            margin-top: 0;
                        }
                    }

                    &.sidebar-user-email {
                        font-size: 14px;
                        line-height: normal;
                        max-width: 100px;
                        width: 100%;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #312A88;
                    }
                    
                }
        
                span:not(.message_count) {
                    color: #000;
                    margin-bottom: 0;

                    @media (min-width: 640px) {
                        display: none;
                    }
                }
        
                .message_count {
                    background-image: url('../images/Dashboard/message_icon.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    min-width: 20px;
                    min-height: 20px;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                    margin-left: 6px;
        
                    @media (max-width: 639px) {
                        position: absolute;
                        top: 5px;
                        right: 17px;
                    }
                }
            }

            a {
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: center;
                align-items: center;
                color: #000;
                border: 3px solid #FFFFFF;
                border-right: 0;
                min-height: 80px;

                @media (max-width: 639px) {
                    border: none;
                    min-height: inherit;
                    padding: 0 15px 10px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 14px;
                    background-image: url('../images/Dashboard/Triangle.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 639px) {
                        display: none;
                    }
                }

                &.active {
                    background-color: #fff;
                    cursor: context-menu;
                    pointer-events: none;
                }

                &:hover {
                    background-color: #fff;
                    text-decoration: none;
                    outline: none;
                    transition: 0.3s;
                }

                &:focus {
                    text-decoration: none
                }

                img {
                    margin-top: 12px;
                }
            }

            > img {
                margin-right: auto;
                display: block;
                margin-left: 5px;
            }

            &.sidebar-nav-item-no-link {
                padding: 0 5px;
            }
        }

        
    }

    &.sidebar-nav-expanded {
        min-width: 197px;

        .sidebar-nav-inner {
            @media (max-width: 639px) {
                padding: 0;
            }
        }

        .sidebar-nav-items {
            display: block;

            .sidebar-nav-item {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                text-align: left;
                min-height: inherit;

                @media (max-width: 639px) {
                    -webkit-justify-content: center;
                    justify-content: center;
                    border-bottom: 1px solid #979797;
                }

                &.sidebar-nav-setting {
                    padding: 13px 0 10px;
                    margin-bottom: 13px !important;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        min-height: inherit;
                        background-color: #fff;
                        padding: 14px 17px 12px;
                        margin-bottom: 0 !important;
                    }

                    a {
                        padding: 0;

                        @media (max-width: 639px) {
                            width: inherit;
                        }

                        &.sidebar-user-email {
                            margin-left: 10px;
                            margin-right: auto;

                            @media (max-width: 639px) {
                                order: 2;
                                max-width: inherit;
                                padding-right: 20px;
                            }
                        }

                        &.setting_img {
                            @media (max-width: 639px) {
                                order: 3;
                            }
                        }

                        &.message_count_link {
                            @media (max-width: 639px) {
                                order: 1;
                            }
                        }

                        span {
                            position: initial;
                            @media (max-width: 639px) {
                                line-height: normal;
                                margin-left: 0;
                            }
                        }
                    }
                }

                &.sidebar-nav-item-no-link {
                    padding: 0 13px;
                    margin-bottom: 23px !important;

                    @media (max-width: 639px) {
                        display: none;
                    }
                }
            
                span {
                    font-size: 14px;
                }
                a {
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    padding-left: 12px;
                    padding-right: 20px;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                        padding: 20px 0;
                        width: 100%;
                    }

                    &:after {
                        display: none;
                    }
                    
                    &.setting_img {
                        display: block;
                        max-width: 20px;
                    }

                    .expand-arrow {
                        position: relative;

                        @media (max-width: 639px) {
                            margin-bottom: 6px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 7px;
                            height: 14px;
                            background-image: url('../images/Dashboard/Triangle_for_expanded.png');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            right: -17px;
                            top: 50%;
                            transform: translateY(-50%);

                            @media (max-width: 639px) {
                                width: 14px;
                                height: 27px;
                                right: -30px;
                            }
                        }
                    }

                    span {
                        font-size: 16px;

                        @media (max-width: 639px) {
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            max-width: inherit;
                            color: #616161;
                        }
                    }
    
                    img {
                        margin-top: 0;
                    }
                }
                span {
                    max-width: 149px;
                    width: 100%;
                }
            }

            
        }
    }
}
// Sidebar over

// Progress-bar
.circular-progress-bar {
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    pointer-events: none;

    &.no-percentage {
        background-color: #fff;
        border-color: #D7D7D7;
        padding: 5px;

        svg {
            width: 40px;
            height: 40px;
        }

        .arcs {
            .outer-circle {
                fill: #fff;
            }
            .inner-circle {
                fill: #fff;
            }
        }
    }
    
    svg {
        width: 38px;
        height: 38px;
    }

    .percentage_number {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        font-size: 12px;
        font-weight: bold;
        color: #000000;

        span {
            font-size: 12px !important;
        }
    }

    .arcs {
        .outer-circle {
            fill: #eee;
        }
        .outer-arc {
            fill: #19A5AD;
        }
        .inner-circle {
            fill: #eee;
        }
        .inner-arc {
            fill: none;
        }
    }
}

.sidebar-nav-expanded {
    .circular-progress-bar {
        border: 4px solid #fff;
        height: 58px;
        width: 58px;

        @media (max-width: 639px) {
            border: 6px solid #fff;
            padding: 6px;
        }

        svg {
            width: 50px;
            height: 50px;
        }

        &.no-percentage {
            border-color: #D7D7D7;
            width: auto;
            height: auto;
            padding: 4px;

            svg {
                width: 24px;
                height: 24px;

                @media (max-width: 639px) {
                    width: 84px;
                    height: 84px;
                }
            }

            img {
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
            }

            .inner-circle {
                @media (max-width: 639px) {
                    display: block;
                }
            }
        }
    }
}

.circles {
    display: none;

    .outer-circle {
        fill: #19A5AD;
        stroke: #19A5AD;
        stroke-width: 1;
    }
    .inner-circle {
        fill: #eee;
        stroke: #19A5AD;
        stroke-width: 1;
    }
    &.empty-circles {
        .outer-circle {
            fill: #fff;
            stroke: transparent;
        }
        .inner-circle {
            stroke: transparent;
        }
    }
}

.no-percentage {
    .percentage_number {
        display: none;
    }
    .inner-circle {
        display: none;
    }
    .inner-arc {
        display: none;
    }
}
// Progress-bar over


.my-asvab-score-no-fyi {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
    border-bottom: 1px solid #CDCDCD;
    padding: 14px 0;
    margin-bottom: 20px;
    
    h5 {
        font-size: 14px;
        line-height: 19px;
        color: #4a4a4a;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        margin-bottom: 0;

        span {
            br {
                @media (max-width: 767px) {
                    display: none;
                }
    
            }
        }

        a {
            margin-left: 10px;
            margin-right: 0;

            &.explain {
                background: url('../images/Dashboard/question_rounded.svg');
                background-repeat: no-repeat;
                width: 17px;
                height: 17px;
                flex: 1 0 auto;
            }
        }
    }

    .my-strengths-bar {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: calc(100% - 350px);
        width: 100%;

        @media (max-width: 991px) {
            max-width: calc(100% - 300px);
        }

        @media (max-width: 767px) {
            max-width: 100%;
        }

        .my-results {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            -webkit-justify-content: center;
            justify-content: center;
            color: #4A4A4A;

            .skill-images {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                margin: 0 10px;

                @media (max-width: 639px) {
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    margin-top: auto;
                }

                img {
                    margin-bottom: 5px;
                }
            }
        }
    }
    
    .my-interest-bar {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: 325px;
        width: 100%;
        padding-top: 15px;
        padding-left: 30px;

        @media (max-width: 991px) {
            max-width: 290px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #979797;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .my-interest-codes-inner {
            @media (max-width: 639px) {
                margin: 0 auto;
            }
        }

        .my-interest-code {
            position: relative;
            margin: 0 15px;
            z-index: 1;
            color: #4A4A4A;
            display: inline-block;

            @media (max-width: 639px) {
                    margin: 0 10px;
            }
            
            &:hover {
                text-decoration: none;
            }
            
            strong {
                display: block;
                text-align: center;
            }
        }
    } 

    &.score-with-afqt {
        .score-with-afqt-data {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            text-align: center;
            margin: 0 15px;
    
            @media (max-width: 639px) {
                margin: 0 10px;
            }
        }
        .switch-icon {
            min-width: 23px;
        }
    }
}

// Complete fyi video tutorial
.complete-fyi-video-tutorial {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
    
    @media (max-width: 991px) {
        border-bottom: 1px solid #CDCDCD;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    @media (max-width: 480px) {
        display: inline-block;
    }

    .complete-fyi-video-content {
        max-width: calc(100% - 220px);
        width: 100%;

        @media (max-width: 480px) {
            max-width: 100%;
        }

        p {
            color: #000000;
            margin-bottom: 0;
        }
        a {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .complete-fyi-video-wrapper {
        max-width: 168px;
        width: 100%;

        @media (max-width: 480px) {
            margin-top: 15px;
            margin-bottom: 12px;
            max-width: 100%;
        }

        .img-with-play-icon {
            position: relative;

            .video-play {
                max-width: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// Career exploration section
.career-exploration-section {
    .career-exploration-content {
        p {
            margin-bottom: 0;
        }
        .text-l-gray {
            color: #4A4A4A;
        }
        .start-career-btn {
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            min-width: 204px;
            padding: 8px 40px;
            margin: 10px auto 25px;
            width: 100%;
    
            @media (max-width: 359px) {
                padding: 8px 20px;
            }
        }
    }
    .custom-full {
        max-width: 100%;
    }
}

.skills-interests-career {
    background-color: rgba(45, 162, 167, 0.13);
    color: #4A4A4A;
    border: 1px solid rgba(184, 184, 184, 0.13);
    text-align: center;
    padding: 26px 18px 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    h4 {
        font-size: 21px;
        font-weight: bold;
        color: #4A4A4A !important;

        @media (max-width: 359px) {
            font-size: 20px;
        }
    }
    h6 {
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
    }
    a {
        font-size: 14px !important;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        min-width: 204px;
        padding: 8px 40px !important;
        margin: 0 auto;

        @media (max-width: 359px) {
            padding: 8px 20px !important;
        }
    }
}

.favorite-box {
    border: 1px solid #B8B8B8;

    + .favorite-box {
        margin-top: 20px;
    }

    h6 {
        font-size: 14px;
        line-height: 19px;
        color: #4A4A4A;
        margin-bottom: 0;
    }

    .favorite-box-title {
        background-color: #EEEEEE;
        padding: 7px 10px;

        span {
            float: right;

            @media screen and (min-width: 640px) and (max-width: 680px) {
                float: none;
                display: inline-block;
                width: 100%;
            }

            @media screen and (max-width: 480px) {
                float: none;
                display: inline-block;
                width: 100%;
            }
        }
    }

    .favorite-box-content {
        display: flex;
        align-items: center;
        color: #4A4A4A;
        padding: 15px 15px 20px;
        width: 100%;

        .favorite-box-details {
            margin-left: 20px;
            max-width: calc(100% - 33px);
            width: 100%;
        }

        p {
            margin-bottom: 0;
        }
    }
    // Explore2 Careers Tab
    .favorite-box-content-list {
        display: inline-block;
        padding: 15px 15px 0;

        .favorite-checkmark-box-block {
            display: flex;
            align-items: center;
            width: 100%;

            .checkmark-box {
                float: left;
                margin-right: 10px;
            }
        }
        .custom-bottom-space {
            padding-bottom: 25px;
        }
        // favorite box details
        .favorite-box-details {
            margin-top: 15px;

            @media screen and (max-width: 480px) { 
                margin-left: 0;
                max-width: 100%;
            }

            .favorite-box-details-list {
                display: inline-block;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;

                .custom-width-35 {
                    width: 35%;
                }
                .custom-width-15 {
                    width: 15%;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    float: left;
                    margin-bottom: 0 !important;
                    text-align: center;
                    line-height: normal !important;
                    padding: 7px 8px;
                    height: 40px;

                    @media screen and (max-width: 892px) {
                        width: 50% !important;
                    }

                    @media screen and (max-width: 480px) { 
                        display: inline-block;
                        float: none;
                        width: 100% !important;
                    }

                    &:before {
                        content: '' !important;
                        border-left: 1px solid #979797;
                        width: 1px;
                        left: 0 !important;
                        height: 100%;

                        @media screen and (max-width: 480px) { 
                            display: none;
                        }
                    }

                    &:first-child:before {
                        display: none;
                    }

                    a {
                        font-size: 14px;

                        b {
                            margin-right: 4px;
                        }
                    }
                }

                .create-plan {
                    a.create-plan-btn {
                        margin: 0;
                        background-color: #eee;
                        color: #4C44AC;
                        padding: 5px 15px;
                        text-transform: none;

                        i {
                            margin-left: 6px;
                        }
                    }
                }
                
                .favorite-meter {
                    @media screen and (min-width: 640px) and (max-width: 686px) {
                        display: inline-block;
                        padding: 0;
                    }

                    @media screen and (max-width: 480px) {
                        display: inline-block;
                        border-top: 1px solid #979797;
                        padding: 7px 8px;
                        height: auto;
                    }
                    
                    span {
                        font-size: 12px;
                        margin-right: 10px;
                        float: left;
        
                        @media screen and (min-width: 640px) and (max-width: 686px) {
                            float: none;
                            display: inline-block;
                            width: 100%;
                        }

                        @media screen and (max-width: 480px) {
                            float: none;
                            display: inline-block;
                            width: 100% !important;
                        }
                    }
                }
                .icons {
                    @media screen and (max-width: 892px) {
                        border-top: 1px solid #979797;
                    }
                    @media screen and (max-width: 480px) {
                        float: left;
                        width: 50% !important;
                    }
                }
                .note {
                    &:before {
                        @media screen and (max-width: 892px) {
                            display: none;
                        }
                    }
                }
                .remove {
                    padding-right: 0;

                    @media screen and (max-width: 892px) {
                        padding-right: 8px;
                    }
                    
                    &:before {
                        @media screen and (max-width: 480px) {
                            content: '' !important;
                            border-left: 1px solid #979797;
                            width: 1px;
                            display: inline-block;
                            left: 0 !important;
                            height: 100%;
                        }
                    }
                    
                    .remove-icon {
                        img {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
        }
        // favorite box icon
        .favorite-box-icon {
            margin: 0;

            @media screen and (max-width: 767px) {
                margin-top: 16px;
            }

            .favorite-box-details-list{
                @media screen and (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                }
                    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    float: left;
                    margin-bottom: 0 !important;
                    text-align: center;
                    line-height: normal !important;
                    padding: 0px 20px;
                    height: auto;

                    &:before {
                        content: '' !important;
                        border-left: 1px solid #979797;
                        width: 1px;
                        left: 0 !important;
                        height: 100%;
                    }

                    &:first-child:before {
                        display: none;
                    }
                }

                .create-plan {
                    a.create-plan-btn {
                        margin: 0;
                        background-color: #eee;
                        color: #4C44AC;
                        padding: 5px 15px;
                        text-transform: none;

                        i {
                            margin-left: 6px;
                        }
                    }
                }

                .favorite-meter {
                    span {
                        font-size: 12px;
                        margin-right: 10px;
                        float: left;
                    }
                    .favorits-icon {
                        float: left;
                    }
                }
                .remove {
                    padding-right: 0;

                    @media screen and (max-width: 892px) {
                        padding-right: 8px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 785px) {
                        padding-right: 0px;
                    }
                    
                    .remove-icon {
                        .d-hide {
                            opacity: 0;
                        }
                        img {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
        }
        .custom-width-67 {
            width: 67%;

            @media screen and (max-width: 912px) {
                width: 57%;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
        .custom-width-33 {
            width: 33%;

            @media screen and (max-width: 912px) {
                width: 43%;
            }
            
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
        
        p {
            margin-bottom: 0;
        }
    }
    .border-bottom {
        border-bottom: 1px solid #CDCDCD;
    }
    .favorite-box-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #EEEEEE;
        padding: 7px 10px;

        p {
            font-size: 14px;
            color: #4A4A4A;
            margin-bottom: 0;
        }

        a {
            margin-right: 0;
            margin-bottom: 0;
            border: 0;

            @media screen and (max-width: 400px) {
                padding: 4px 6px;
            }
        }
    }
}

// Career Exploration Favorite Tab
.career-exploration-favorite-box {
    .favorite-box-content-list {
        .favorite-checkmark-box-block {
            @media screen and (max-width: 767px) {
                display: inline-block;
            }
        }
    }
}

#footer {
    z-index: 1;
    position: relative;
}

// Styled Checkbox Start
.styled-checkbox {
    position: absolute;
    opacity: 0;

    & + label.styled-checkbox-label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        overflow: hidden;

        &:before {
            content: '';
            background: #C2D1D9;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &:checked + label:before {
        background: #1CAFB6;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;

        &:before {
            box-shadow: none;
            background: #E0E8EC;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Checkmark - Could be replaced with an image
    &:checked + label:after {
        content: "";
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -ms-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        position: absolute;
    }
}

@media (max-width: 800px) {
nav#main-menu {
    display:none;
}
}